<%= render "layouts/errors", :object => Comment.new %>

<div id="comment-form">
  <h2>New Comment</h2>
  <%= form_for [@answer.question, Comment.new], remote:true do |f| %>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 4 %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
